<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/cabecalho.ejs")%>
    <div class="container">
    <% if(aluno){%>
        <div>
        <b> Matricula:</b><%=aluno.matricula%>
        </div>
        
        <div>
        <b> Nome:</b><%=aluno.nome%>
        </div>

        <div>
            <b> Curso:</b><%=aluno.curso%>
        </div>

        <%} else {%>
        <H2 style="color:red">não encontrado!!</H2>
        <%}%>
        <h2>
            <a href="/alunos" class="btn btn-secondary">Voltar</a>
        </h2>

    </div>

    <%-include("../partials/rodape.ejs")%>


</body>
</html>